<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>company</key>
		<string>Tesla</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>green</string>
		<key>model</key>
		<string>Model 3</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Tesla</string>
		<key>year</key>
		<string>2015</string>
		<key>color</key>
		<string>green</string>
		<key>model</key>
		<string>Model S</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Tesla</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>red</string>
		<key>model</key>
		<string>Roadster 2</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Audi</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>white</string>
		<key>model</key>
		<string>R8</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Porshe</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>black</string>
		<key>model</key>
		<string>918</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Lamborghini</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>blue</string>
		<key>model</key>
		<string>Aventador</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Bugatti</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>blue</string>
		<key>model</key>
		<string>Chiron</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Chevrolet</string>
		<key>year</key>
		<string>2015</string>
		<key>color</key>
		<string>black</string>
		<key>model</key>
		<string>Aveo</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Mitsubishi</string>
		<key>year</key>
		<string>2017</string>
		<key>color</key>
		<string>white</string>
		<key>model</key>
		<string>Pro Evolution 10</string>
		<key>id</key>
		<string>9</string>
	</dict>
	<dict>
		<key>company</key>
		<string>Subaru</string>
		<key>year</key>
		<string>2014</string>
		<key>color</key>
		<string>pink</string>
		<key>model</key>
		<string>Legacy</string>
		<key>id</key>
		<string>10</string>
	</dict>
</array>
</plist>
